In [4]:
#Import dependencies
from sqlalchemy import create_engine, inspect, func
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
#import matplotlib.pyplot as plt
import pandas as pd
import sqlalchemy
import psycopg2

ModuleNotFoundError: No module named 'pandas'

In [2]:
# Create connection to enter postgres db
connection = psycopg2.connect('dbname=hw user=postgres password=300497 host=localhost')
connection

NameError: name 'psycopg2' is not defined

In [ ]:
#Activate connection cursor
cur = connection.cursor()

In [ ]:
#Select table, make variable and display as dataframe
cur.execute('SELECT dept_no, dept_name FROM "departments"')
departments = cur.fetchall()
departments_df = pd.DataFrame(departments, columns = ['dept_no','dept_id'])
departments_df

In [ ]:
#Query the employees table
cur.execute('SELECT dept_no, emp_no FROM "dept_emp"')
dept_emp = cur.fetchall()
dept_emp_df = pd.DataFrame(dept_emp, columns = ['dept_no','emp_no'])
dept_emp_df.head()

In [ ]:
#Query the managers
cur.execute('SELECT dept_no, emp_no FROM "dept_manager"')
dept_manager = cur.fetchall()
dept_manager_df = pd.DataFrame(dept_manager, columns = ['dept_no','emp_no'])
dept_manager_df

In [ ]:
#Query the employee table
cur.execute('SELECT emp_no, title_id, birth_date, first_name, last_name, sex, hire_date FROM "Employees"')
employees = cur.fetchall()
employees_df = pd.DataFrame(employees, columns = ['emp_no', 'title_id', 'birth_date', 'first_name', 'last_name', 'sex', 'hire_date'])
employees_df.head()

In [ ]:
#Query the salaries table
cur.execute('SELECT emp_no, salary FROM "Salaries"')
salaries = cur.fetchall()
salaries_df = pd.DataFrame(salaries, columns = ['emp_no', 'salary'])
salaries_df.head()

In [ ]:
#Query the titles table
cur.execute('SELECT title_id, title FROM "Titles"')
titles = cur.fetchall()
titles_df = pd.DataFrame(title, columns = ['title_id', 'title'])
titles_df

In [ ]:
#Join 
#first, join salaries to employees on emp_no
emp_sal = employees_df.merge(salaries_df, on = "emp_no")
emp_sal.head()

In [ ]:
#Join the titles table to the newly created db on emp_title_id and‚ê£ title_id
final_db = emp_sal.merge(titles_df, left_on = "title_id", right_on = "title_id")
final_db.head()

In [ ]:
#Extract a db of only the titles and salaries
sal_title_db = final_db[['salary','title']]
sal_title_db.head()

In [ ]:
#groupby and mean() for the salaries
#edited to round() to zero digits
sal_title_db.groupby('title')['salary'].mean().round(0)

In [ ]:
#now we can graph these salaries
sal_title_db.hist(column='salary',color = 'blue')
plt.xlabel('Salary Range')
plt.ylabel('Salary Frequency/Count')
plt.title('Salary Average Distribution')